/* src/styles/QuizResultScreen.css */

.quiz-result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.quiz-result-box {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.quiz-result-box h2 {
  color: #27ae60;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.quiz-history-message {
  font-size: 1em;
  color: #7f8c8d;
  margin-top: -10px;
  margin-bottom: 20px;
}

.back-to-menu-button {
  padding: 15px 30px;
  font-size: 1.2em;
  color: #ffffff;
  background-color: #3498db;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-to-menu-button:hover {
  background-color: #2980b9;
}

.quiz-failure {
  text-align: center;
  padding: 50px;
  font-size: 1.8em;
  color: #555;
}